In [444]:
import pandas as pd
import numpy as np

In [445]:
A = [2, 14]
B = [4, 12]
C = [2, 13]
D = [12, 18]
E = [3, 7]
F = [3, 7]

def dur(x):
    #return np.random.randint(x[0], x[1]+1)
    return np.random.uniform(x[0], x[1])

In [446]:
abef = np.mean(A) + np.mean(B) + np.mean(E) + np.mean(F)
acef = np.mean(A) + np.mean(C) + np.mean(E) + np.mean(F)
ad   = np.mean(A) + np.mean(D)
print(abef, acef, ad)

26.0 25.5 23.0

In [447]:
dur(D)

14.796502286947794

In [448]:
def cp_dur():
    """
    path:
    -----
    0: A-B-E-F
    1: A-C-E-F
    2: A-D
    """
    path = []
    start = {}
    a, b, c, d, e, f = dur(A), dur(B), dur(C), dur(D), dur(E), dur(F)
    
    start['B'] = a
    start['C'] = a
    start['D'] = a
    start['E'] = a + max(b, c)
    start['F'] = start['E'] + e
    
    path.append(a + b + e + f)
    path.append(a + c + e + f)
    path.append(a + d)
    
    maxdur = max(path)
    start['cpath'] = path.index(maxdur)
    start['duration'] = maxdur
    
    return start

In [449]:
cp_dur()

{'B': 9.157645759372622,
 'C': 9.157645759372622,
 'D': 9.157645759372622,
 'E': 19.442212393134042,
 'F': 25.547800228058602,
 'cpath': 0,
 'duration': 29.06144611402532}

In [450]:
sim = []
N = 1000000
for i in range(N):
    sim.append(cp_dur())

df = pd.DataFrame()
df = df.append(sim)

In [451]:
df

,B,C,D,E,F,cpath,duration
0,8.806274,8.806274,8.806274,19.639339,26.427850,0,32.633819
1,6.784686,6.784686,6.784686,15.940220,22.212514,1,26.050081
2,13.968387,13.968387,13.968387,22.336405,27.400571,1,34.141940
3,8.873322,8.873322,8.873322,16.026987,20.228001,2,26.245670
4,3.156548,3.156548,3.156548,12.496467,17.416256,1,22.480168
...,...,...,...,...,...,...,...
999995,12.295762,12.295762,12.295762,24.146036,30.562599,0,36.588064
999996,2.946918,2.946918,2.946918,7.650745,11.996830,0,18.052101
999997,4.137436,4.137436,4.137436,14.955406,20.673866,1,25.386988
999998,11.297176,11.297176,11.297176,22.327063,27.909387,1,33.064902
999999,3.811371,3.811371,3.811371,16.366837,22.390260,1,29.362727

In [452]:
df.groupby('cpath').size()

cpath
0    479524
1    424461
2     96015
dtype: int64

In [453]:
df.groupby('cpath').duration.mean().round(2)

cpath
0    27.43
1    28.30
2    24.50
Name: duration, dtype: float64

In [454]:
df[['B', 'C', 'D', 'E', 'F']].mean().round(2)

B     8.00
C     8.00
D     8.00
E    17.37
F    22.37
dtype: float64